# Should match version from .github/actions/setup/action.yml
export DEVBOX_USE_VERSION=0.13.7

# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

eval "$(devbox generate direnv --print-envrc)"
. $VENV_DIR/bin/activate

export DATA_DIR="$(pwd)/data"
export STATIC_DIR="$DATA_DIR/static"

export ENABLE_OLLAMA_API=false
export ENABLE_DIRECT_CONNECTIONS=false
export ENABLE_EVALUATION_ARENA_MODELS=false
export WEBUI_SECRET_KEY="abcd"
export OPENAPI_BASE_URL="$AMAZEEAI_BASE_URL"
export OPENAPI_KEY="$AMAZEEAI_API_KEY"

# Local testing user account
# Injected by polydock on lagoon
export AMAZEEAI_USER_EMAIL="a@b.c"
export AMAZEEAI_USER_NAME="A.B.C."
export AMAZEEAI_USER_PASSWORD="abc"

